#center{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
.titulo{
  text-align:center;
  width:100%;
}
.loginImagen{
  width:100%;
}
.base{
  margin:0 auto;
}
.formulario{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
.loginL{
  width:100%;
}
.inputs{
  width:100%;
  padding:0 5px;
  margin:5px;
}
button{
  padding:5px;
  font-size:20px;
  cursor:pointer;
}